@font-face {
  font-family: 'Fairfax SM';
  src: url('/fonts/FairfaxSM.woff2') format('woff2');
}

@font-face {
  font-family: 'Fairfax SM Bold';
  src: url('/fonts/FairfaxSMBold.woff2') format('woff2');
}

@font-face {
  font-family: 'Fairfax SM Italic';
  src: url('/fonts/FairfaxSMItalic.woff2') format('woff2');
}

body {
  /* max-width: 650px; */
  background: #0011aa;
  margin: 40px auto;
  padding: 0 10px;
  font-size: 18px;
  line-height: 1.5;
  font-family:
    'Fairfax SM',
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    'Helvetica Neue',
    Arial,
    'Noto Sans',
    sans-serif,
    'Apple Color Emoji',
    'Segoe UI Emoji',
    'Segoe UI Symbol',
    'Noto Color Emoji';
  color: #fff;
}

/* reset a */
a {
  text-decoration: none;
  color: inherit;
}

a:visited {
  color: inherit;
}

a:hover,
a:active {
  text-decoration: none;
  color: inherit;
}

/* reset button */
button {
  all: unset;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  padding: 10px 20px;
  border: 2px solid #fff;
}

button:hover,
button:focus {
  background-color: #fff;
  color: #0011aa;
}

form input[type='text'] {
  all: unset;
  display: block;
  width: min(90%, 600px);
  margin: 10px 0;
  padding: 10px;
  border: 2px solid #fff;
  background-color: #0011aa;
  color: #fff;
}

form input[type='text']::placeholder {
  color: #fff;
}

form input[type='text']:focus {
  outline: none;
  border-color: #ffffff;
}
