@font-face {
  font-family: 'Fairfax SM';
  src: url('/fonts/FairfaxSM.woff2') format('woff2');
}

@font-face {
  font-family: 'Fairfax SM Bold';
  src: url('/fonts/FairfaxSMBold.woff2') format('woff2');
}

@font-face {
  font-family: 'Fairfax SM Italic';
  src: url('/fonts/FairfaxSMItalic.woff2') format('woff2');
}

body {
  /* max-width: 650px; */
  background: #0011AA;
  margin: 40px auto;
  padding: 0 10px;
  font-size: 18px;
  line-height: 1.5;
  font-family: "Fairfax SM", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  color: #fff;
}


/* reset a */
a {
  text-decoration: none;
  color: inherit;
}

a:visited {
  color: inherit;
}

a:hover,
a:active {
  text-decoration: none;
  color: inherit;
}